<mt:include name="dialog/header.tmpl" page_title="<__trans phrase="OAuth authentication">">

<mt:if name="error_verification">

<form method="post">
<input type="hidden" name="__mode" value="tweetfpsfix_oauth" />
<p><__trans phrase="Authentication failed"></p>
<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            name="retry"
            type="submit"
            class="retry action primary-button"
            ><__trans phrase="Retry"></button>
        <button
            type="submit"
            class="action cancel mt-close-dialog"
            title="<__trans phrase="Close (x)">"
            ><__trans phrase="Close"></button>
    </div>
</div>
</form>

<mt:else>

<p><__trans phrase="Authentication succeeded"></p>
<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            onclick="parent.location.reload();"
            type="submit"
            accesskey="x"
            class="action cancel mt-close-dialog"
            title="<__trans phrase="Close (x)">"
            ><__trans phrase="Close"></button>
    </div>
</div>

</mt:if>

<mt:include name="dialog/footer.tmpl">
